<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.modelversioning.conflicts.detection.operationconflictdetector">
      <detector
            class="org.modelversioning.conflicts.detection.composite.OperationContractViolationDetector">
      </detector>
   </extension>

</plugin>
